.container {
    border: 1px solid black;
    min-width: 30px;
    min-height: 30px;
    padding: 20px;
}

.mainHeader {
    font-size: 35px;
    margin: 5px 0px;
}

.text {
    margin: 0 0 15px 0;
}

.secondaryHeader {
    font-size: 25x;
    margin: 15px 0px;
}

.form-block {
    background-color:rgba(192, 192, 192, 0.324);
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.form-block--news {
    background-color:inherit;
    padding: 0;
}

.form-header {
    margin-top: 0px;
    font-size: 18px;
}

.form-input {
    display: block;
    margin: 0 0 20px 0;
    width: 250px;
}

.input-newsletters{
    margin: 10px 0;
    color:rgba(94, 0, 0, 0.801);
}
.form-label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.button {
    background-color: #0069eb;
    color: #fff;
    border-radius: 6px;
    border: 0px solid;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}